<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div id="contact">
        <nav>
            <div class="nav-fostrap">
              <ul>
                <li><a href="">Home</a></li>    
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a>References<span class="arrow-down"></span></a>
                    <ul class="dropdown">
                      <li><a href="">Polisen</a></li>
                      <li><a href="">SCB</a></li>
                    </ul>
                  </li>
                <li><a href="">FAQ</a></li>
              </ul>
            </div>
          </nav>
    </div>

    <div class="containerContact">
      <div class="contactCard">
        <h2>Jonatan Jonsson</h2>
        <p>Scrum Master</p>
        <p>070-000 76 33</p>

        <p>Jonny.Jonsson@SM.com</p>
      </div>
    </div>

    <div class="containerContact">
      <div class="contactCard">
        <h2>Christopher Bergman</h2>
        <p>Product Owner</p>
        <p>070-000 41 54</p>

        <p>Chrille.Bergman@PO.com</p>
      </div>
    </div>

    <div class="containerContact">
      <div class="contactCard">
        <h2>Richard Zejak</h2>
        <p>Developer</p>
        <p>070-000 11 21</p>

        <p>Rick.Zejak@Dev.com</p>
      </div>
    </div>

    <div class="containerContact">
      <div class="contactCard">
        <h2>Christian Zetterholm</h2>
        <p>Developer</p>
        <p>070-000 09 28</p>

        <p>Chris.Zett@Dev.com</p>
      </div>
    </div>

    <div class="containerContact">
      <div class="contactCard">
        <h2>David Rask</h2>
        <p>Developer</p>
        <p>070-000 36 72</p>

        <p>David.Rask@Dev.com</p>
      </div>
    </div>


</body>
</html>