<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <nav>
            <div class="nav-fostrap">
              <ul>
                <li><a href="/">Home</a></li>    
                <li><a href="/aboutPage">About</a></li>
                <li><a href="/contactPage">Contact</a></li>
                <li><a>References<span class="arrow-down"></span></a>
                    <ul class="dropdown">
                      <li><a href="https://polisen.se/kontakt/om-webbplatsen/oppna-data/api-over-polisens-handelser/" target="_blank">Polisen</a></li>
                      <li><a href="https://www.scb.se/en/services/open-data-api/api-for-the-statistical-database/" target="_blank">SCB</a></li>
                    </ul>
                  </li>
                <li><a href="/faqPage">FAQ</a></li>
              </ul>
            </div>
          </nav>
        <div class="container">
          <div  style="margin-top:50px;margin-bottom:30px;text-align:center;">
            <h1>EcoCrimes</h1>
          </div>
          <div class='content'>
            <form role="search" action="/resultpage" method="GET>
                <div class="form-group">
                <input id="search" type="search" name="city" placeholder="Search" autofocus required />
                <div class="form-group"> 
                  <button class ="btnSubmit" type="submit">Search</button>    
              </div>
            </div>
           
              </form>
          </div>
          <section class="sectionForTopList">
            <table class="tableForTopList">
             
                <tr id="">
                  <h2 class="titelForTopList">Kommuner med flest brott</h2>
                    <th>Kommun</th>
                    <th>Antal Brott</th>

                </tr>
                <% data[0].slice(0, 10).forEach(function(dat) { %>
                    <tr>
                    <td><%= dat.place %></td>
                    <td><%= dat.count %></td>

                    </tr>
                <% }); %>
            </table>
        </section>
      </div>
      </div>
    </body>
   
</html>