<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <nav>
            <div class="nav-fostrap">
              <ul>
                <li><a href="">Home</a></li>    
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a>References<span class="arrow-down"></span></a>
                    <ul class="dropdown">
                      <li><a href="">Polisen</a></li>
                      <li><a href="">SCB</a></li>
                    </ul>
                  </li>
                <li><a href="">FAQ</a></li>
              </ul>
            </div>

          </nav>
        <div class="container">
          <div  style="margin-top:50px;margin-bottom:30px;text-align:center;">
            <h1>EcoCrimes</h1>
          </div>
          <div class='content'>
            <form role="search">
                <div class="form-group">
                <input id="search" type="search" placeholder="Search" autofocus required />
            </div>
            <div class="form-group"> 
                <button class ="btnSubmit" type="submit">Search</button>    
            </div>
              </form>
          </div>
      </div>
      </div>
    </body>

    


</html>