<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>Titel är coolio</h1>

<h3>Här kan du söka stad</h3>
<input placeholder="Search somth..">


<button id="getEvents">Hämta händelser</button>

<script>

document.getElementById('getEvents').addEventListener
('click', getEvents);

function getEvents(){
    fetch('https://polisen.se/api/events')
    .then(res => res.json())
    .then(data => console.log(data))
}

</script>
</body>


</html>