<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Header & navbar-->
    <nav class="header">
        <a href="#" id="home">Hitman.se</a>
        <div class="navbar">
            
            <div id="navbar-list">
                <ul> 
                    <li><a href="#">Home</a></li>
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="#contactus">Contact Us</a></li>  
                </ul>
            </div>

        </div>
    </nav>    

    <h2>Beskrivning</h2>
    <p>Hos Hitman.se kan du få ut information om brott i valfri stad i Sverige.</p>

    <h3>Skriv in namnet på den stad som du vill komma åt</h3>
    <input placeholder="Search somth..">

    <div id="information">

    </div>
</body>
</html>